<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<form (ngSubmit)="loginUser()" class="login-form">
  <h2>Login</h2>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="loginData.email" name="email" required placeholder="Enter your email">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="loginData.password" name="password" required placeholder="Enter your password">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="full-width">Login</button>

  <p class="signup-text">
    Don't have an account? 
    <a (click)="navigateToRegistration()">Sign Up</a>
  </p>
</form>
