<h1 mat-dialog-title>Istorija rezervacije</h1>
<div mat-dialog-content>
  <table mat-table [dataSource]="history">
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> Korisnik </th>
      <td mat-cell *matCellDef="let event">{{ event.userId }}</td>
    </ng-container>
     <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Korisnik </th>
        <td mat-cell *matCellDef="let event">{{ event.email }}</td>
      </ng-container>

    <ng-container matColumnDef="actionType">
      <th mat-header-cell *matHeaderCellDef> Akcija </th>
      <td mat-cell *matCellDef="let event">{{ event.actionType }}</td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef> Datum </th>
      <td mat-cell *matCellDef="let event">{{ event.timestamp | date: 'short' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['userId','email', 'actionType', 'timestamp']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['userId','email','actionType', 'timestamp']"></tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Zatvori</button>
</div>
